nav {
    max-width: 703px;
}

h1 {
    font-size: 25px;
    margin: 5px;
}

.article {
    margin: 0;
}

.button {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

p {
    max-width: 600px;
    font-size: 20px;
}

table,
th,
td {
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    height: 50px;
}

.meimg {
    width: 60%;
    height: auto;
}

.pagination {
    width: auto;
    height: 50px;
}
