nav {
  background-color: DeepSkyBlue;
  border: 1px solid black;
  font-size: 30px;
}
table, th, td {
    font-family: 'Coiny', cursive;
    color: blue;
    border-bottom: 1px solid #ddd;
    margin-left:auto; 
    margin-right:auto;
  	border-collapse: collapse;
  	width: 500px;
  	height: 100px;
  	text-align: center;
}


.img2 {
	display: block;
    margin-left: auto;
    margin-right: auto;
	
}

form{
	font-size: 20px;
}

p {
    text-align: center;
    font-family: 'Coiny', cursive;
    font-size: 25px;
}

