body  {
    background-image: url("back.png");
    background-color: #cccccc;
}
nav {
  margin-top: ;
  width: 200px;

}
.main{
  margin-left: 200px; max-width: 500px;
}
p {float: left; max-width: 500px;
    margin: 0 0 1em 3em;
}
  
h1 {text-align: center;
    margin-top: ;
}

img {width: 200px;
     height: 300px;
}
.foot {
    margin-bottom: 1;
    width: 300px;
}